
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Merienda:wght@700&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: rgb(130, 20, 105);
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li {
    margin: 10px;
}

img{
    width: 230px;
}
h1{ 
    font-size: 25px;
    color: rgb(130, 20, 105);
    font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  
}  
p{
    font-size: 16px;
    font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    color: rgb(5, 5, 0);
}
.title h1{
    text-align: center;
        font-family: "Instrument Serif", serif;
        font-weight: 400;
        font-style: normal;
}
.contenedor{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.caja{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.caja img{
    border-radius: 50%;
}
.caja p{
    font: size 12px;
    text-align: center;

}
.logo1 img {
    width: 300px;
    margin: 0 auto;
}

#nosotros iframe{
    align-items: center;
    padding: 8px;
    }

#carousel {
        max-width: 600px; 
        margin: 0 auto; 
        padding: 15px;
    }
    
h6 {

    font-size: 40px;
    color: rgb(130, 20, 105);
    font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  text-align: center;
  
}
h4 {
    font-size: 20px;
    color: rgb(52, 6, 86);
    font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  text-align: center; 
}
.aboutus p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-align: center;
     font-family: "Instrument Serif", serif;

}
